<div class="input-field col s12">
    <div class="card">
        <div class="card-content">
            <input name="certificate_id" type="radio" id="certificate_id" checked />
            <span>{{ certificate.name }}-{{ certificate.id_num }}-{{ certificate.category.name }}</span>
        </div>
        <div class="card-tabs">
            <div class="row">
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item">发证日期：{{ certificate.print_date ? certificate.print_date : 'N/A' }}</li>
                        <li class="collection-item">初领证日期：{{ certificate.first_get_date ? certificate.first_get_date : 'N/A' }}</li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item">应复审日期：{{ certificate.review_date ? certificate.review_date : 'N/A' }}</li>
                        <li class="collection-item">失效日期：{{ certificate.invalid_date ? certificate.invalid_date : 'N/A' }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
