<div class="card  hoverable">
    <div class="card-content" id="result">
        <form data-request="onAddRecord" data-request-validate data-request-flash data-request-data="project_id:'{{ project.id }}'" >
            <div class="row">
                <div class="alert alert-danger" data-validate-error>
                    <div class="card-panel red lighten-2 white-text">
                        <p data-message></p>
                    </div>
                </div>
                {{ form_token() }}
                {{ form_sessionKey() }}
                {% if is_retraining %}
                    <div class="section">
                        <div class="col s12">
                            <i class="material-icons prefix">chrome_reader_mode</i>
                            <div class="input-field inline">
                                <input id="recordIdentity" type="text" name="identity" data-request-flash>
                                <label for="recordIdentity" >证件号码<span class="red-text">*</span></label>
                                <span class="helper-text">请输入正确的证件号码，通常是身份证号码！</span>
                            </div>
                            <a class="waves-effect waves-light btn" data-request="onLoadCertificatesList" data-request-success="$('#certificateList').modal('open')">
                                <i class="material-icons left">more_vert</i>选择证书
                            </a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section" id="selectCertificate"></div>
                    <div class="section" id="otherField"></div>
                {% else %}
                    <div class="section">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">chrome_reader_mode</i>
                            <input id="recordIdentity_new" type="text" name="identity" data-request-flash>
                            <label for="recordIdentity_new" >证件号码<span class="red-text">*</span></label>
                            <span class="helper-text">请输入正确的证件号码，通常是身份证号码！</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        {% partial __SELF__ ~'::other_field' %}
                    </div>
                {% endif %}
                <div class="divider"></div>
                <div class="section">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <label for="phone" class="col-lg-2 control-label">联系电话 <span class="red-text">*</span></label>
                        <input type="text" class="form-control validate" id="phone" name="phone" value="" >
                        <span data-validate-for="phone" class="red-text helper-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">import_contacts</i>
                        <label for="address" class="col-lg-2 control-label">联系地址 <span class="red-text">*</span></label>
                        <input type="text" class="form-control validate" id="address" name="address"  value="">
                        <span data-validate-for="address" class="red-text helper-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">store</i>
                        <input type="text" class="form-control validate" id="company" name="company"  value="">
                        <label for="company" class="col-lg-2 control-label">输入单位名称，无单位则填个体 <span class="red-text">*</span></label>
                        <span data-validate-for="company" class="red-text helper-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="agree" type="checkbox" value="1">
                            <span> 我已阅读，并同意</span><a class="modal-trigger" href="#agree" title="查看《培训申请须知》">《培训申请须知》</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button data-attach-loading class="btn waves-effect waves-light btn-large" type="submit" name="action">开始报名
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Modal Structure -->
<div id="certificateList" class="modal  modal-fixed-footer">
    <div class="modal-content" id="certificateListTable">
    </div>
</div>
<!-- Modal Structure -->
<div id="agree" class="modal modal-fixed-footer">
    <div class="modal-content" >
        <h4 class="center-align">培训申请须知</h4>
        {% partial __SELF__ ~ "::agree" %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">同意，并关闭</a>
    </div>
</div>
